* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    /* background: #2a2f38;
    color: #fff; */
 
      /* Degradado líneal de arriba a abajo (por defecto 180deg) */
  /* background: linear-gradient(#2a2f38, #1e242b); */
  /* O especificando dirección: de izquierda a derecha: */
  /* background: linear-gradient(to right, #2a2f38, #1e242b); */
  /* O en diagonal: */
  /* background: radial-gradient(circle at center, #D0E5F2 0%, #A9C6D9 15%, #6D90A6 30%, #254559 60%, #011526 100%); */

  

  /* background: radial-gradient(circle at center,  #A9C6D9 0%, #6D90A6 15%, #5d7a8d 25%, #254559 50%, #1a313f 70%, #011526 100%); */
  background: linear-gradient(50deg,  #A9C6D9 0%, #6D90A6 10%, #5d7a8d 15%, #254559 50%, #1a313f 70%, #011526 100%);

    background-repeat: no-repeat;

      background-attachment: fixed;
  /* Fallback de color mientras no carga o en navegadores antiguos: */




  /* Que se mantenga fijo al viewport */

  /* Centrarlo (por si se ajusta) */
  background-position: center center;
  /* Asegurar que cubra todo el área del viewport */
  background-size: cover;











  /* background-color: #2a2f38; */
  color: #fff;
}


.btn-info-dark:hover {
  background-color: #0d6efd ; /* un azul más oscuro */
  color: white ;
}

.login-wrapper {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'American Typewriter';
  src: url('/src/American Typewriter Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.american-typewriter {
  font-family: 'American Typewriter', serif;
}

.background-bluedark{
  background-color: blue;
  color: #fff;
}


/* // Bootstrap Variables */

.text-teal {
  color: var(--bs-teal) !important;
}
.bg-teal {
  background-color: var(--bs-teal) !important;

}


.text-indigo {
  color: var(--bs-indigo) !important;
}
.bg-indigo {
  background-color: var(--bs-indigo) !important;
}


.text-blue {
  color: var(--bs-blue) !important;
}
.bg-blue {
  background-color: var(--bs-blue) !important;
}





/* // Bootstrap Variables */